.about-page{
    /* max-width: 1300px; */
    display: flex;
    /* justify-content: center; */
    margin: auto;
    flex-direction: column;
    /* min-width: 600px; */
    width: 95%;
    animation: mainPage;
    animation-delay: 0.3s;
    animation-duration: 1.8s;
    animation-fill-mode: forwards;
    overflow-x: hidden;
}
.heading {
    text-align: center;
    font-size: 8vh;
    font-weight: 800;
    margin: 0;
    color: #fff;
    padding: 9vh 0;
    margin: 2vh 0;
    margin-top: 0.5vh;
}

.heading > span {
    color: #71DDFF;
}

.secondary-heading {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    color: rgb(47, 47, 47);
    z-index: -1;
    font-size: 20vh;
    font-weight: 800;
    letter-spacing: 8px;
    margin: 0.5vh 0;
}

/* .heading::before {
    content: 'RESUME';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    color: rgb(47, 47, 47);
    z-index: -1;
    font-size: 15vh;
    letter-spacing: 8px;
    margin: 2vh 0;
} */

.personal-info-section{
    display: flex;
    animation: fadeIn;
    animation-delay: 0.5s;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
    /* margin: auto; */
    /* flex-wrap: wrap; */
}

.personal-infos-heading {
    font-size: 3.5vh;
    margin-top: 0;
    color: #fff;
}

.personal-info-section > .personal-infos{
    width: 50%;
    /* background-color: #71DDFF; */
    padding: 0vh 2vw;
    /* height: 50vh; */
    padding-bottom: 3vh;
    padding-top: 0;
    margin: 0 0.5vw;
}

.personal-info-section > .personal-infos-cards{
    width: 50%;
    /* height: 50vh; */
    /* background-color: #71DDFF; */
    padding: 1vh 2vw;
    margin: 0 0.5vw;
}

.personal-infos-inputs-section {
    display: flex;
}

.personal-infos-inputs-section > .left-personal-infos-inputs-section{
    /* padding-right: 5vw; */
    width: 100%;
    display: flex;
    flex-direction: column;
}

.personal-infos-inputs-section > .left-personal-infos-inputs-section > span {
    padding: 1.5vh 0;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.815);
}

.personal-infos-inputs-section > .left-personal-infos-inputs-section > span > span {
    font-weight: 700;
}

.personal-infos-inputs-section > .right-personal-infos-inputs-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.personal-infos-inputs-section > .right-personal-infos-inputs-section > span {
    padding: 1.5vh 0;
    color: rgba(255, 255, 255, 0.815);
    font-weight: 600;
}

.personal-infos-inputs-section > .right-personal-infos-inputs-section > span > span {
    font-weight: 700;
}

.personal-infos > .more-about-me-section{
    margin-top: 5vh;
}

.personal-infos-cards > .row {
    /* background-color: aqua; */
    display: flex;
    margin: 4vh 0;
    margin-top: 0;
}

.personal-infos-cards > .row > .col {
    width: 50%;
    height: 100%;
    margin: 0vh 1vw;
    border-radius: 5px;
    border: 1px solid #b4edfe;
}

.card-content{
    padding: 20px 30px 25px 40px;
}

.card-content > h1{
    display: inline-block;
    font-size: 6vh;
    font-weight: 800;
    margin: 0;
    position: relative;
    color: #71DDFF;
}

.card-content > h1::after {
    content: "+";
    font-size: 33px;
    font-weight: 600;
    position: absolute;
    right: -24px;
    top: 2px;
}

.card-content > p{
    padding: 0;
    margin: 0;
    position: relative;
    padding-left: 45px;
    font-weight: 500;
    color: #666;
}

.card-content > p::before{
    background: #777;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 13px;
    width: 30px;
}

.secondary-body{
    overflow-x: auto;
    height: 100vh;
}

.skills-section{
    /* padding-bottom: 10vh; */
    /* opacity: 0;
    animation: fadeIn;
    animation-delay: 0.5s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards; */
}

.partition{
    width: 30vw;
    margin: 60px auto;
    background: #252525;
    height: 0.1px;
}

.inner-heading {
    /* border-top: 1px solid #666; */
    text-align: center;
    padding-bottom: 20px;
}

.inner-heading > span{
    /* padding: 3vh 10vw; */
    /* padding-top: 8vh; */
    text-align: center;
    color: #fff;
}

.skills-loaders-section{
   padding: 0 10vw;
   opacity: 0;
}

.skills-loaders-section > .row{
   display: flex;
   justify-content: space-between;
   margin-bottom: 8vh;
}

.skills-loaders-section > .row > .col {
    text-align: center;
    color: #fff;
}


.skills-loaders-section > .row > .col > h6{
    margin: 3vh 0;
    font-size: 2vh
}

.education-cards-section{
    color: #fff;
    padding: 20px 30px 25px 40px;
    opacity: 0;
}

.education-cards-section > .row {
    display: flex;
    margin-bottom: 5vh;
}

.education-cards-section > .row > .col{
    width: 50%;
    padding: 0 3vw;
    border-left: 1px solid #666;
    position: relative;
}

.education-cards-section > .row > .col > h1{
    font-size: 2.5vh;
    padding-top: 3vh;
}

.education-cards-section > .row > .col > h1 > span{
    font-size: 2vh;
    color: rgba(255, 255, 255, 0.815);
}

.education-cards-section > .row > .col > span{
    background: rgb(47, 47, 47);
    font-weight: 600;
    padding: 0.4vh 1vw;
    border-radius: 50px;
    font-size: 1.8vh;
}

.education-cards-section > .row > .col > svg{
    background: #71DDFF;
    padding: 0.9vh 0.4vw;
    border-radius: 80px;
    position: absolute;
    top: -0.7vh;
    left: -1.2vw;
}


.scroll-down-arrow{
    position: absolute;
    top: 8vh;
    left: 5vw;
    animation: bounce 2s;
    animation-iteration-count: infinite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scroll-down-arrow > h6{
    margin: 0;
    margin-bottom: 0.5vh;
}


  
@media screen and (max-width: 1400px) {

    .heading{
        font-size: 45px;
    }

    .secondary-heading{
        font-size: 35px;
    }
      
    .personal-info-section{
        flex-direction: column;
    }

    .personal-info-section > .personal-infos{
        width: 100%;
    }

    .personal-info-section > .personal-infos-cards{
        width: 100%;
    }

    .personal-infos > .more-about-me-section > .more-about-me-button{
        margin-left: 0;
    }
    
}
